@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Roboto', 'sans-serif';
    color:$fBlack;
    margin:0;
}
//HEADER
header{
    height: 100vh ;  
    background-image: url(/images/img1.jpeg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    
    .headcontainer{
        padding: 5px;
        border: 1px solid $fGrey;
        height: 7vh; 
    }
    nav{
        width: 70%;
        display: inline-block;
    }

    input{
        margin-left: 40px;
        height: 5vh;
        font-size: 1rem;
        width: 25%;
        border: 1px solid $fGrey;
        background-color: transparent;
    }

    ul{
        list-style-type: none;
        display: flex;
        justify-content: flex-end; 
    }
    li{
        padding-left: 20px;
    }

    a{
       text-decoration: none;
       color:$fBlack;
       padding:10px 10px;
       border-radius: 15%;
       &:hover{
           background-color: $fBlack;
           color:$fWhite;
           transition: all 0.5s 0s ease-in-out;
       }
    }

    .parentTitle{
        width:100%;
        height: 90vh;
        line-height: 1.5;
    }

    h1{
        font-size: 36px;
        letter-spacing: 2px;
    }

    .childTitle1{
        background-color: $bwhite;
        position:relative; //me provu dyjat absolut
        display: inline-block;
        padding-right: 1%;
        z-index: 0;
        position:absolute;
        bottom: 120px;

    }
    .childTitle2{
        background-color: $byellow;
        display: inline-block;
        padding-right: 1%;
        z-index: 1;
        position:absolute;
        bottom: 75px;
    }
}


//Section 1 - About us
#about{
    .about{
    font-weight: 500;
    height: 100vh;
    background-color: $bwhite;
    position:relative;
    
    .bg-1{
        background-color: $byellow;
        height: 90vh;
        width: 40%;
        margin: 5% auto; 
    }

    summary{
        border: 5px solid $fBlack;
        background-color: $bwhite;
        letter-spacing: 2px;
        padding: 30px;
        width: 28%;
        position: absolute;
        margin: 0 auto;
        left:5%;
        top:25%;
    }

    h1{
        font-size: 2rem;
        font-weight: 400;
    }

    blockquote{
        font-weight: 300;
        font-size: 1rem;
    }

    img{
        height: 80vh;
        position: absolute;
        right: 28%;
        top: 5%;
    }
    }
}

//Section 2 - ABOUT PART 2
.aboutflex{
    width:100%;
    height: 300px;
    margin-bottom: 10vh;
    display: flex;
    justify-content:space-around; //space-between del error
    background-color: $bwhite
    

   

    img{
        width: 350px;
    }

    .quotettext{
        border: 5px solid $fBlack;
        background-color: $bwhite;
        padding: 10px;
        width: 350px;
        //font-weight: 100;
    
    }
    
    h2{
        font-size: 24px;
        font-weight: 400;
        padding: 15% 5% 5% 5%;
    }
    blockquote{
        font-weight: 300;
        padding: 0% 5%;
    }

}

//Section 3 - Time to make a differences
.theChange{
    width:100%;
    height: 100vh;
    background-image: url(/images/img5.jpeg);
    background-size:100%;
    background-position: 50% 90%;
    display: flex;
    flex-direction: column-reverse;

    padding:50px 50px;

    summary{
        width: 43%;
        margin-bottom: 50px;
    }

    h2{
        font-size: 36px;
        font-weight: 400;
        letter-spacing: 1px;
        padding-top: 60px;
        padding-bottom: 30px;
    }

    blockquote{
        font-size: 16;
    }

}

//Section 4 - TASTY
.tasty{
    font-weight: 500;
    height: 90vh;
    background-color: $bwhite;
    margin-top: 10vh;
    position:relative;

    .bg-2{
        background-color: $byellow;
        height: 200px;
        width: 100%;
        background-position: center center; 
        position: absolute;
        top: 15%;
    }   

    img{
        width: 300px;
        z-index: 1;
    }
    
    .img-container{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    summary{
        width: 50%;
        margin: 10px auto;
        line-height: 1.1;
        text-align: center;
    }

    h4{
        font-size: 36px;
        font-weight: 300;
        //letter-spacing: 1px;
        padding-top: 60px;
        padding-bottom: 20px;
    }

    blockquote{
        font-size: 16;
        font-weight: 300;
        padding-bottom: 20px;
    }

    button{
       color:$fWhite;
       background-color: $fBlack;
       padding:10px 10px;
       letter-spacing: 1px;
       width: 150px;
       margin-bottom: 50px;
       
       &:hover{
           background-color: $fWhite;
           color:$fBlack;
           transition: all 0.5s 0s ease-in-out;
       }
    }
}

//Section 5 - Organic Restaurants 
#organic{
    margin-top: 100px;
    .organic{
        width: 100%;
        height: 400px;
        display: flex;
        justify-content:space-between;
        align-items: center;
        background-color: $bwhite
    }

    .bg-3{
        display: inline-block;
        background-image: url(/images/img8.jpeg);
        width: 450px;
        height: 400px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        margin-left: -50px;
    }
    .bg-4{
        background-image: url(/images/img9.jpeg);
        display: inline-block;
        width: 450px;
        height: 400px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        margin-right: -50px;
    }

    .quotettext{
        border: 5px solid $fBlack;
        background-color: $bwhite;
        // padding: 10px;
        width: 450px;
        height: 75%;
        text-align: center;
        //font-weight: 100;
    
    }
    
    h2{
        font-size: 24px;
        font-weight: 400;
        padding: 15% 5% 0% 5%;
    }
    
    blockquote{
        font-weight: 300;
        padding: 0% 5% 5% 5%;
    }
}

//Section 6 - Footer
footer{
    width: 100%;
    background-image: url(/images/img10.jpeg);
    background-position: 50% 80%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    overflow:hidden;
    

    .footer-container{
        height:75%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    a{
        padding: 15px;
    }

    img{
        height: 30px;
    }
     h4{
        font-size: 36px;
        font-weight: 400;
        text-align: center;
        margin-bottom: 100px;
    }

    
}


.footer-end{
    background-color:$bGrey;     
    //height: 100px;
    width: 100%;
    padding-top:5px;
    padding-bottom: 30px;
//    margin-top: 50px;
    text-align: center;
    font-size: 14px;
    h4{
        margin-top: 50px;
        color: $fWhite;
        font-weight: 400;
        font-size: 22px;
    }

    span{
        font-size: 14px;
        padding: 10px 20px;
    }

    a{
        color: $fWhite;
        text-decoration: none;
    }
    }